{
  "openai": {
    "api_key": "sk-REPLACE_ME",
    "organization_id": ""
  },
  "discord": {
    "bot_token": "REPLACE_ME",
    "application_id": "",
    "public_key": ""
  },
  "api": {
    "api_key": "REPLACE_WITH_RANDOM_LONG_STRING"
  },
  "basic_auth": {
    "username": "admin",
    "password": "REPLACE_ME"
  }
}
