{
  "openai": {
    "api_key": "sk-REPLACE_ME",
    "organization_id": ""
  },
  "discord": {
    "bot_token": "REPLACE_ME",
    "application_id": "",
    "public_key": ""
  },
  "database": {
    "host": "REPLACE_DB_ENDPOINT",
    "port": 5432,
    "username": "REPLACE_DB_USERNAME",
    "password": "REPLACE_DB_PASSWORD",
    "dbname": "REPLACE_DB_NAME"
  }
}
